autoflake
black>=23.1a1
isort

bandit[toml]

mypy
typing_extensions

pylint

flake8
flake8-bugbear
flake8-comprehensions
flake8-docstrings
flake8-no-pep420
flake8-rst-docstrings
flake8-scream
flake8-simplify
pep8-naming
